*{

}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}

.text_date_durée {
    font-family: "Montserrat Regular";
    font-size: 10px;
    color: var(--Gris-claire);
    margin-left: 3%;
    margin-top: 0.8%;
}

/* Accueil */

/* Contenus Noir */

.index_text_article_noir {
    z-index: 4;
    width: 69%;
    background: var(--Noir);
    position: relative;
    left: 7.5%;
    padding: 2% 8% 4% 8%;
    border-radius: 25px 25px 0px 0px;
}

.index_text_article_noir p {
    font-family: "Montserrat Regular";
    font-size: 14px;
    color: var(--Blanc);
    max-width: 100%;
    line-height: 1.5;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.index_text_article_noir h3 {
    font-family: "Id Grotesk Trial";
    font-size: 24px;
    color: var(--Blanc);
    max-width: 100%;
    line-height: 1.5;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.article_noir {
    position: relative;
    z-index: 1;
}

.bouton_article_noir {
    font-family: "Roboto Bold";
    font-size: 14px;
    background: white;
    border: none;
    border-radius: 50px;
    padding: 12.5px 25px 12.5px 25px;
    position: absolute;
    right: 6%;
    top: 83%;
}
/* Contenus Blanc */

.index_text_article_blanc {
    width: 69%;
    background: var(--Blanc);
    position: relative;
    left: 7%;
    padding: 2% 8% 4% 8%;
    border-radius: 25px 25px 0px 0px;
}

.index_text_article_blanc p {
    font-family: "Montserrat Regular";
    font-size: 14px;
    color: var(--Noir);
    max-width: 100%;
    line-height: 1.5;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.index_text_article_blanc h3 {
    font-family: "Id Grotesk Trial";
    font-size: 24px;
    color: var(--Noir);
    max-width: 100%;
    line-height: 1.5;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.article_blanc {
    position: relative;
    z-index: 1;
}

.bouton_article_blanc {
    font-family: "Roboto Bold";
    font-size: 14px;
    background: white;
    border: none;
    border-radius: 50px;
    padding: 12.5px 25px 12.5px 25px;
    position: absolute;
    right: 6%;
    top: 78%;
}

.index_image_article {
    width: 85%;
    height: auto;
    position: relative;
    left: 7.5%;
    top: -2px;
    
}
