.header_principal {
    background: var(--Noir);
    color: var(--Blanc);
    width: 100%;
}

.header_titre {
    font-family: "Montserrat Bold";
    font-size: 24px;
}

.header_burger {
    width: 43px;
    height: 43px;
    margin-top: 0.4rem;
}

.header_langue {
    font-family: "ID Grotesk Trial";
    font-size: 20px;
    color: var(--Gris-claire);
    padding: 5px;

}

.header_nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 20px;
    justify-content: space-between;
}

.header_nav_secondaire {
    display: flex;
    gap: 10px;
    align-items: center;
}


