.header_principal {
    background: var(--Noir);
    color: var(--Blanc);
    width: 100%;
}

.header_titre {
    font-family: "Montserrat Bold";
    font-size: 24px;
}

.header_burger {
    width: 43px;
    height: 43px;
    margin-top: 0.4rem;
}

.header_langue {
    font-family: "ID Grotesk Trial";
    font-size: 20px;
    color: var(--Gris-claire);

}

.header_nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    padding: 5px 27px 5px 27px;
    justify-content: space-between;
}

.header_nav_secondaire {
    display: flex;
    gap: 20px;
    align-items: center;
}

img {
    width: 90%;
    height: auto;
}

/* alpine */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--Noir);
    display: grid;
    place-content: center;
}

.header_menuBtn {
    position: relative;
    z-index: 10;
    background-color: transparent;
    color: inherit;
    border: none;
}

.lien_menu {
    font-size: 40px;
    line-height: 200%;
    text-decoration: none;
    list-style: none;
}

.liste_menu {
    list-style: none;
}