.header_principal {
    background: var(--Noir);
    color: var(--Blanc);
    width: 100%;
}

.header_titre {
    font-family: "Montserrat Bold";
    font-size: 24px;
}

.header_burger {
    width: 43px;
    height: 43px;
    margin-top: 0.4rem;
}

.header_langue {
    font-family: "ID Grotesk Trial";
    font-size: 20px;
    color: var(--Gris-claire);

}

.header_nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    padding: 5px 27px 5px 27px;
    justify-content: space-between;
}

.header_nav_secondaire {
    display: flex;
    gap: 20px;
    align-items: center;
}

img {
    width: 90%;
    height: auto;
}

/* alpine */
.menu {
    position: fixed; /*reste en place lors du défilement*/
    top : 0; /*fixe le menu en haut de la page*/
    left : 0;
    width: 100vw; /*largeur de la fenêtre*/
    height: 100vh; /*hauteur de la fenêtre*/
    background: var(--Noir); /*couleur de fond*/
    display : grid; /*grille (pour centrer)*/
    place-content: center; /*aligmement au centre (V et H) */
  }
  .header_menuBtn {
    position: relative; /*pour appliquer z-index*/
    z-index: 10; /*pour que le bouton soit au dessus du menu*/
    background-color: transparent; /* Enlève la couleur de fond */
    color: inherit; /* Enlève la couleur de texte */
    border: none; /* Enlève la bordure */
  }
  
  .lien_menu{
    font-size: 40px;
    line-height: 200%;
    
  }


  