/*Accueil*/

.accueil_orange_gauche {
    width: 50%;
    height: 10px;
    background: var(--Orange);
    border-radius: 0% 9999px 9999px 0%;
}

.accueil_noir_gauche {
    width: 45%;
    height: 10px;
    background: var(--Noir);
    border-radius: 0% 9999px 9999px 0%;
    margin-top: 8%;
    margin-bottom: 8%;
}

.accueil_noir_droite {
    width: 45%;
    height: 10px;
    background: var(--Noir);
    border-radius: 9999px 0% 0% 9999px;
    margin-top: 8%;
    margin-bottom: 8%;
    position: relative;
    left: 55%;
}


