.noscroll,
.noscroll body {
    overflow: hidden;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--Noir);
    display: grid;
    place-content: center;
}

.header_menuBtn {
    position: relative;
    z-index: 10;
    background-color: transparent;
    color: inherit;
    border: none;
}

.lien_menu {

    text-decoration: none;
    list-style: none;
    font-family: "ID Grotesk Trial";
}

.liste_menu {
    list-style: none;
    margin-bottom: 10px;
    font-size: 24px;
}

.liste_menu_secondaire {

    text-decoration: none;
    list-style: none;
    font-family: "ID Grotesk Trial";
    color: var(--Gris-claire);
    font-size: 14px;
}

.liste_menu_gris {
    list-style: none;
    margin-bottom: 18px;
    font-size: 24px;
    color: var(--Gris-claire);
}

.lien_menu_gris {
    font-size: 24px;
    color: var(--Gris-claire);
    text-decoration: none;
    list-style: none;
    font-family: "ID Grotesk Trial";
}

.div_lien {
    text-align: center;
    margin-left: -3rem;
    padding-top: 5rem;
}

.div_lien_gris {
    text-align: center;
    margin-left: -3rem;
}

.div_lien_gris::before {
    content: '';
    display: block;
    height: 2px;
    width: 70%;
    background-color: var(--Gris-claire);
    margin: 30px auto;
}

.menu_logo_orange {
    width: 50px;
    height: 50px;
    bottom: 5px;
    align-items: center;
}

.menu_div_logo {
    display: flex;
    justify-content: center;
    margin-left: -3rem;
    padding-top: 10px;
}

.menu_section {
    margin-bottom: 40px;
    max-width: 280px;
}