.footer_rond_orange {
    z-index: 0;
    width: 100px;
    height: 75px;
    background: var(--Orange);
    border-radius: 100% 0% 47% 53% / 100% 100% 0% 0%;
    position: absolute;
    right: 0;
}

/*Accueil*/
/*Contenus Noir*/
.rond_orange_1 {
    width: 180px;
    height: 180px;
    background: var(--Orange);
    border-radius: 9999px;
    position: absolute;
    left: -1%;
    top: 60px;
}

.rond_orange_2 {
    width: 180px;
    height: 180px;
    background: var(--Orange);
    border-radius: 9999px;
    position: absolute;
    left: 51%;
    top: -25px;
}

.rond_orange_3 {
    width: 180px;
    height: 180px;
    background: var(--Orange);
    border-radius: 9999px;
    position: relative;
    left: 51%;
    top: 50%;
}

.rond_orange_4 {
    width: 180px;
    height: 180px;
    background: var(--Orange);
    border-radius: 9999px;
    position: relative;
    left: 10%;
    top: 76%;
}

.rond_orange_1,
.rond_orange_2,
.rond_orange_3,
.rond_orange_4 {
    position: absolute;
    z-index: 0;
}

/*Contenus Blanc*/

.rond_orange_5 {
    width: 180px;
    height: 180px;
    background: var(--Orange);
    border-radius: 9999px;
    position: relative;
    left: 51%;
    top: 60px;
}

.rond_orange_6 {
    width: 180px;
    height: 180px;
    background: var(--Orange);
    border-radius: 9999px;
    position: relative;
    left: 1%;
    top: -25px;
}

.rond_orange_7 {
    width: 180px;
    height: 180px;
    background: var(--Orange);
    border-radius: 9999px;
    position: relative;
    left: 2%;
    top: 55%;
}

.rond_orange_8 {
    width: 180px;
    height: 180px;
    background: var(--Orange);
    border-radius: 9999px;
    position: relative;
    left: 40%;
    top: 74%;
}

.rond_orange_5,
.rond_orange_6,
.rond_orange_7,
.rond_orange_8 {
    position: absolute;
    z-index: 0;
}

.rond_orange_intro_pages {
    z-index: -1;
    width: 270px;
    height: 95px;
    background: var(--Orange);
    border-radius: 0% 100% 32% 68% / 100% 0% 100% 0%;
    position: absolute;
    margin-top: -5px;
}