@import "/src/css/utils/variables.css";
@import "/src/css/vendors/normalize.css";
@import "/src/css/layout/header.css";
@import "/src/css/layout/footer.css";
@import "/src/css/base/main.css";
@import "/src/css/components/menu.css";
@import "/src/css/base/img_principal.css";
@font-face {
    font-family:"ID Grotesk Trial";
    src: url("../fonts/IDGroteskTrial-Regular.ttf") format("truetype");
}
@font-face {
    font-family:"ID Grotesk Trial Bold";
    src: url("../fonts/IDGroteskTrial-Bold.ttf") format("truetype");
}
@font-face {
    font-family:"Montserrat Bold";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
    font-family:"Montserrat Regular";
    src: url("../fonts/IDGroteskTrial-Regular.ttf") format("truetype");
}
@font-face {
    font-family:"Roboto Bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}


